HashKnownHosts no
Host *.physik.uni-leipzig.de
    User mueller
    ForwardX11 yes
    ForwardX11Trusted yes
    IdentityFile ~/.ssh/id_rsa
    ForwardAgent yes
    Compression yes
    GSSAPIAuthentication no
    RSAAuthentication yes
    PasswordAuthentication yes
    HostbasedAuthentication no
